<ul class="menubar">
  <li class="menuitem"><a class="menulink" href="#">Home</a></li>
  <li class="menuitem"><a class="menulink" href="#">Browse</a></li>
  <li class="menuitem"><a class="menulink" href="#">Upload</a></li>
  <li class="menuitem"><a class="menulink" href="#">Manage</a></li>
  <li class="menuitem search"><input type="text" class="search-input text-input" placeholder="Search"></li>
  <li class="menuitem"><a class="search-menulink" href="#">
    <svg height="16" width="16">
      <path style="fill:#3d7e9a;fill-opacity:1;stroke-width:0"
            d="M 5.3333333,0
                A 5.3333333,5.3333333 0 0 0 0,5.333333
                  5.3333333,5.3333333 0 0 0 5.3333333,10.666667
                  5.3333333,5.3333333 0 0 0 10.666667,5.333333
                  5.3333333,5.3333333 0 0 0 5.3333333,0
                Z
                m 0,1.333333
                a 4,4 0 0 1 4,4
                  4,4 0 0 1 -4,4
                  4,4 0 0 1 -4,-4
                  4,4 0 0 1 4,-4
                z
                M 10.34375,9.399739
                  9.401041,10.34375
                  15.057292,16
                  16,15.057292
                Z"/>
      Search
    </svg>
  </a></li>
  <li class="menuitem login"><a class="menulink" href="#">Login</a></li>
</ul>
